/* header */
header{
    display: flex;
    background-color: #193375;
    height: 100px;
  }
.logo{
  width: auto;
  height: clamp(3.125rem, 2.009rem + 2.976vw, 4.688rem);
  overflow-x: hidden;
  overflow-y: hidden;
  padding-left: 10px;
}
header > div > h1{
  color: white;
  font-size: 20px;
  padding-top: clamp(2.375rem, 0.125rem + 9.6vw, 3.125rem);
  padding-right: clamp(2.375rem, 0.875rem + 6.4vw, 2.875rem);
}
header > div > div > h1{
  color: white;
  font-size: 15px;
  padding-top: clamp(2.375rem, 0.125rem + 9.6vw, 3.125rem);
  padding-right: clamp(0.625rem, -0.125rem + 3.2vw, 0.875rem);
}
.headerBTNS{
  display: flex;
  padding-left: clamp(2.188rem, 1.518rem + 1.786vw, 3.125rem);
}

/* footer */
footer{
  margin-top: clamp(4.375rem, -0.547rem + 21vw, 6.016rem);
  background-color: #193375;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
footer > div > h1{color: yellow;font-size: clamp(0.938rem, 2.38rem + -6.154vw, 2.188rem);}
footer > div > h2{color: white;font-size: clamp(0.625rem, -0.313rem + 4vw, 0.938rem);text-align: center;}

/* centerer */
.center{
  display: flex;
  justify-content: center;
}
.totalCenter{
  display: flex;
  justify-content: center;
  align-items: center;
}
