*{
 margin: 0;
 color: white;
}

*::-webkit-scrollbar{
display:none;
}

body{
 background-image: linear-gradient(to bottom, #644bff, #ff7130);
}

p{
 width: 60%;
 padding-left: 2vw;
}

nav{
 position: fixed;
 top:0;
 background-color: #171721;
 width: 100vw;
}

#logo{
 height: 130px; 
 padding: 2px 0px 2px 2vw;
}

button{
 margin-top: 40px;
 margin-left: 12px;
 margin-right: 12px;
 padding: 5px;
 border: 2px solid #ff7130;
 border-radius: 15px;
 background: none;
 float: right;
 font-size: 2rem;
 background: hsl(227, 10%, 10%);
}

button:hover, button:focus{
 border: 2px solid whitesmoke;
 transform: translateY(-0.25em); 
 box-shadow: inset 0 -3.25em 0 0 #ff3c68;
}



.fade{
    transition: 1.6s;
}



.line {
 position: fixed;
 background-color: black;
 border-radius: 2px;
 width: 20px;
 z-index: -100;
}
.circle {
 position: fixed;
 border: 10px solid black;
 border-radius: 100%;
 height: 20px;
 width: 20px;
 z-index: -100;
}

.slant {
 position: fixed;
 background-color: black;
 border-radius: 1.6px;
 width: 20px;
 height: 128px;
 z-index: -100;
}

#line1{
 height:300px;
 left: 8vw;
 top: 25vh;
}

#circle1{
 left: 7.4vw;
 top:21vh;
}

#slant1{
 left: 10vw;
 top: 57.5vh;
 rotate: -35deg;
 transform: skewY(-35deg);
}

#line2{
 height: 255px;
 left: 12vw;
 top: 70vh;
 
}


#line3 {
 height: 300px;
 left: 12vw;
 top: 25vh;
 
}

#circle2 {

 left: 11.4vw;
 top: 21vh;
 
}

#slant2 {
 left: 14vw;
 top: 57.5vh;
 
 rotate: -35deg;
 transform: skewY(-35deg);
}

#line4 {
 height: 255px;
 left: 16vw;
 top: 70vh;
 
}

#line5 {
 height: 300px;
 left: 4vw;
 top: 25vh;
 
}

#circle3 {
 left: 3.4vw;
 top: 21vh;
}

#slant3 {
 left: 6vw;
 top: 57.5vh;
 rotate: -35deg;
 transform: skewY(-35deg);
}

#line6 {
 height: 255px;
 left: 8vw;
 top: 70vh;
 
}

#line7 {
 height: 300px;
 left: 90.19vw;
 top: 25vh;
 
}

#circle4 {
 left: 89.6vw;
 top: 21vh;
}

#slant4 {
 left: 88.15vw;
 top: 57.5vh;
 rotate: 35deg;
 transform: skewY(35deg);
}

#line8 {
 height: 255px;
 left: 86.15vw;
 top: 70vh;
}


#line9 {
 height: 300px;
 left: 86.2vw;
 top: 25vh;
}

#circle5 {
 left: 85.6vw;
 top: 21vh;
}

#slant5 {
 left: 84.19vw;
 top: 57.5vh;
 rotate: 35deg;
 transform: skewY(35deg);
}

#line10 {
 height: 255px;
 left: 82.15vw;
 top: 70vh;
}

#line11 {
 height: 300px;
 left: 94.2vw;
 top: 25vh;
}

#circle6 {
 left: 93.6vw;
 top: 21vh;
}

#slant6 {
 left: 92.15vw;
 top: 57.5vh;
 rotate: 35deg;
 transform: skewY(35deg);
}

#line12 {
 height: 255px;
 left: 90.15vw;
 top: 70vh;
}

.container{
 display:flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 text-align: center;
 width: 60%;
 margin-left: 20%;
 height:100vh;
 background-color: #171721;
 padding: 0 1vw 0 1vw;
}

h1{
 font-size: 4rem;
 padding: 5px;
}

h3{
 font-size:xx-large;
}

.computer{
 width: 100%;
 height:30%;
}



.scroller {
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}

.scroller section {
    scroll-snap-align: start;
}

#container4{
    height: 70vh;
}

#container5{
    height: 20vh;
}