html,
body,
div,
span,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
pre,
a,
address,
code,
del,
em,
img,
ins,
strike,
strong,
sub,
sup,
var,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
canvas,
footer,
header,
menu,
nav,
section,
summary {
  margin: 0;
  padding: 0;
  border:0;
  font-size:100%;
  font: inherit;
  vertical-align: baseline;
 }

 /* HTML5 display-role reset for older browsers */
  article,
  footer,
  header,
  menu,
  nav,
  section {
   display: block;
  }
 
  body {
   line-height: 1;
  }
 
  ol,
  ul {
   list-style: none;
  }
 
  blockquote,
  q {
   quotes: none;
  }
 
  blockquote:before,
  blockquote:after,
  q:before,
  q:after {
   content: "";
   content: none;
  }
 
  table {
   border-collapse: collapse;
   border-spacing: 0;
  }

  button,
  p,
  h1,
  h2,
  h3,
  h4{
    overflow-y: hidden;
  }