@import "./utilities";
@import "./reset";

// Universal selector
*{
    margin: 0;
    padding: 0;
}

// Header
nav{
    display: flex;
    flex-direction: column;
    background-color: black;
    color: white;
    width: 100%;
    position: sticky;
}
.headerBTNS{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-right: 50px;
    align-items: center;
}
.headerBTNS button{
    background-color: black;
    color: white;
    margin: 0 10px 0 10px;
    font-size: 30px;
    transition: all 0.5s;
}
.headerBTNS button:hover{
    color: #ff7130;
}
#phoneHeader{
    display: flex;
    justify-content: center;
    background-color: #ff7130;
    margin: 0;
    padding: 10px;
    font-size: 15px;
}
#mainHeader{
    display: flex;
    padding: 20px;
}
.headerLinks{
    border-left: 1px solid white;
    border-right: 1px solid white;
}

// Opening
.opening{
    background-image: url("../../images/banner.jpg"); 
    background-size: cover;
    height: 200px;
    color: white;
    width: 100%;
}
