@import "./utilities";
@import "./reset";

@font-face {
    font-family: mainFont;
    src: url("../../OriginTech.ttf");
}

//variables for colors
$main-color: #ff7130;
$text-color: #000000;
$secondary-color: #ffffff;


// Universal selector
* {
    // no overflow on the horizontal line
    overflow-x: hidden;
    color: $text-color;

    // excludes the scrollbar
    &::-webkit-scrollbar {
        display: none;
    }
}

// Body
body {

    // Desktops
    @media only screen and (max-width: 1200px) and (min-width: 1025px) {
        button {
            font-size: clamp(1.25rem, -0.58rem + 2.857vw, 1.563rem);
        }
    }

    // Laptops
    @media only screen and (max-width: 1024px) and (min-width: 769px) {
        button {
            font-size: clamp(0.625rem, -3.036rem + 5.714vw, 1.25rem);
        }
    }

    // Tablets
    @media only screen and (max-width: 768px) and (min-width: 481px) {
        button {
            margin-left: 10px;
            margin-right: 10px;
            font-size: 10px;
        }
    }

    // Phones
    @media only screen and (max-width: 480px) and (min-width: 320px) {}
}

// Header
nav {
    display: flex;
    flex-direction: column;
    background-color: $text-color;
    color: $secondary-color;
    width: 100%;
    //makes it stay on screen
    position: sticky;
}

img {
    padding: {
        right: 30px;
    }
}

.headerBTNS {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    align-items: center;
}

button {
    display: inline-block;
    text-transform: uppercase;
    background-color: $text-color;
    color: $secondary-color;
    margin: 0 10px 0 10px;
    font-size: 30px;
    transition: all 0.5s;
    font-family: mainFont;

    //after effect for the hover
    &:after {
        display: block;
        content: '';
        border-bottom: solid 3px $secondary-color;
        transform: scaleX(0);
        transition: transform 250ms ease-in-out;
    }

    //button hover
    &:hover:after {
        transform: scaleX(1);
    }

    &:hover {
        cursor: pointer;
    }
}


.headerBTNS {
    button {
        &:hover {
            color: $main-color;
        }
    }
}

#phoneHeader {
    display: flex;
    justify-content: center;
    background-color: $main-color;
    margin: 0;
    padding: clamp(0.625rem, -1.205rem + 2.857vw, 0.938rem);
    font-size: clamp(1.25rem, 1.25rem + 0vw, 1.25rem);
}

#mainHeader {
    display: flex;
    padding: clamp(1.25rem, 1.25rem + 0vw, 1.25rem);
    font-family: mainFont;
}

.headerLinks {
    border-left: clamp(0.063rem, 0.063rem + 0vw, 0.063rem) solid #ffffff;
    border-right: clamp(0.063rem, 0.063rem + 0vw, 0.063rem) solid #ffffff;
}

// Opening
.opening {
    background-image: url("../../images/banner.jpg");
    background-size: cover;
    color: $secondary-color;
    width: 100%;
    height: 400px;
}

// Opening2
.opening2 {
    background-image: url("../../images/signal-2023-01-17-10-14-37-000.jpg");
    background-size: cover;
    color: $secondary-color;
    width: 100%;
    height: 400px;
}

.blur {
    display: flex;
    // width:  100%;
    padding: 20px;
    flex-direction: column;
    justify-content: center;
}


.blur {
    h1 {
        font-size: 115px;
        padding-bottom: 5px;
        text-shadow: 0 0 3px $text-color, 0 0 5px $text-color;
        overflow-y: hidden;
        font-family: mainFont;
    }
}

.blur {
    h4 {
        font-size: 37px;
        width: 50%;
        text-shadow: 0 0 3px $text-color, 0 0 5px $text-color;
        overflow-y: hidden;
    }
}

// footer
footer {
    margin-top: clamp(4.375rem, -0.547rem + 21vw, 6.016rem);
    background-color: $main-color;
    height: 125px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    width: 100%;
    font-family: 'Times New Roman', Times, serif;

}

footer {
    div {
        h1 {
            color: $secondary-color;
            font-size: 20px;
        }
    }
}

footer {
    div {
        h2 {
            color: $secondary-color;
            font-size: 15px;
            text-align: center;
        }
    }
}

.section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: clamp(1.563rem, -0.688rem + 9.6vw, 2.313rem);
}

.mainH1 {
    text-decoration: underline;
    font-size: 4rem;
    overflow-y: hidden;
    font-family: mainFont;

    padding: {
        bottom: 1.3125rem;
    }
}

.mainParagraph {
    overflow-wrap: break-word;
    font-size: 1.875rem;
    overflow-y: hidden;
}

.section3 {
    width: 45%;
    float: left;
    height: 610px
}

.section4 {
    width: 45%;
    float: right;
}

.banner {
    color: $secondary-color;
}

#serviceBTNS {
    button {
        color: $text-color;
        background-color: transparent;
        border: none;

        &:after {
            display: block;
            content: '';
            border-bottom: solid 3px $main-color;
            transform: scaleX(0);
            transition: transform 250ms ease-in-out;
        }

        &:hover:after {
            transform: scaleX(1);
        }
    }

    justify-content: space-between;

    margin: {
        top: 20px;
    }
}

.serviceLinks {
    border-left: 2px solid $main-color;
    border-right: 2px solid $main-color;
}

span.psw {
    float: right;
    padding-top: 16px;
}

/* The Modal (background) */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);

    /* Black w/ opacity */
    padding: {
        top: 60px;
        bottom: 60px;


    }

}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;

    margin: {
        top: 5%;
        left: auto;
        bottom: 5%;
        right: auto;
    }

    /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%;
    /* Could be more or less, depending on screen size */
}



/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {
        -webkit-transform: scale(0)
    }

    to {
        -webkit-transform: scale(1)
    }
}

@keyframes animatezoom {
    from {
        transform: scale(0)
    }

    to {
        transform: scale(1)
    }
}

#container {
    margin-left: 45%;

    padding: {
        bottom: 10px;
    }
}

a {
    transition: color 0.3s ease;
}


#menuToggle {
    display: block;
    position: absolute;
    top: 50px;
    right: 50px;
    z-index: 100;
    -webkit-user-select: none;
    user-select: none;
}

#menuToggle input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    cursor: pointer;
    opacity: 0;
    /* hide this */
    z-index: 200;
    /* and place it over the hamburger */

    -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;

    background: #cdcdcd;
    border-radius: 3px;
    z-index: 100;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
        background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
        opacity 0.55s ease;
}

#menuToggle span:first-child {
    transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked~span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #232323;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked~span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked~span:nth-last-child(2) {
    opacity: 1;
    transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu {
    position: absolute;
    width: 300px;
    margin: -100px 0 0 0;
    padding: 50px;
    padding-top: 125px;
    right: -100px;

    background: $secondary-color;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    /* to stop flickering of text in safari */
    transform-origin: 0% 0%;
    transform: translate(100%, 0);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
}

#menu {
    li {
        padding: 10px 0;
        font-size: 22px;
    }
}

/*
 * And let's fade it in from the left
 */
#menuToggle input:checked~ul {
    transform: none;
    opacity: 1;
}

@media screen and (max-width: 768px) {
    #menu {
        transform: none;
        opacity: 0;
        transition: opacity 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
    }
}